extends ../layout/default

block content
  main.main
        // Breadcrumb
        ol.breadcrumb
          li.breadcrumb-item Clientes
          li.breadcrumb-item.active Score Comportamental
        .container-fluid
          .animated.fadeIn
            .row
              .col-md-12
                  .card
                    .card-header
                      i.fa.fa-align-justify
                      |  Score Comportamental
                    .card-body   
                      != messages()  
                      table.table.table-striped
                        thead
                          tr
                            th Placa
                            th Data
                            th Score
                            each ttl in titles
                              if(ttl.indexNo==1)
                                th #{ttl.description} 
                              if(ttl.indexNo==2)
                                th #{ttl.description} 
                              if(ttl.indexNo==3)
                                th #{ttl.description} 
                              if(ttl.indexNo==4)
                                th #{ttl.description} 
                              if(ttl.indexNo==5)
                                th #{ttl.description} 
                              if(ttl.indexNo==6)
                                th #{ttl.description} 
                              if(ttl.indexNo==7)
                                th #{ttl.description} 
                              if(ttl.indexNo==8)
                                th #{ttl.description}  
                              if(ttl.indexNo==9)
                                th #{ttl.description}
                        tbody                                                  
                             each behavior in list
                              tr
                                td CAR-0054 
                                //- td #{behavior.plate}
                                td #{behavior.dworkd} 
                                td #{behavior.indexAvg}
                                td #{behavior.index1}
                                td #{behavior.index2}                                
                                td #{behavior.index3}
                                td #{behavior.index4}
                                td #{behavior.index5}
                                td #{behavior.index6} 
                                td #{behavior.index7}
                                td #{behavior.index8}
                                td #{behavior.index9} 
                                //- td #{ativo = behavior.active==true?'Sim':'Não' }                                                                                          
                       if (pages > 1)
                        ul.pagination
                          != createPagination(pages, page)                   