extends ../layout/default

block content
  main.main
        // Breadcrumb
        ol.breadcrumb
          li.breadcrumb-item Administração
          li.breadcrumb-item Configuração
          li.breadcrumb-item.active Veiculos
        .container-fluid
          .animated.fadeIn
            .row
              .col-md-12
                  .card
                    .card-header
                      i.fa.fa-align-justify
                      |  Score Comportamental
                    .card-body   
                      != messages()  
                      table.table.table-striped
                        thead
                          tr
                            th Placa
                            th Device
                            th Indice 1
                            th Indice 2                            
                            th Indice 3
                            th Indice 4
                            th Indice 5
                            th Indice 6
                            th Indice 7
                            th Indice 8
                            th Indice 9
                            th Média
                        tbody                                                  
                             each behavior in list
                              tr
                                td #{behavior.plate}
                                td #{behavior.device} 
                                td #{behavior.index1}
                                td #{behavior.index2}                                
                                td #{behavior.index3}
                                td #{behavior.index4}
                                td #{behavior.index5}
                                td #{behavior.index6} 
                                td #{behavior.index7}
                                td #{behavior.index8}
                                td #{behavior.index9} 
                                td #{ativo = behavior.active==true?'Sim':'Não' }                                                                                          
                       if (pages > 1)
                        ul.pagination
                          != createPagination(pages, page)                   