extends ../layout/default

block content
  main.main
        // Breadcrumb
        ol.breadcrumb
          li.breadcrumb-item Administração
          li.breadcrumb-item Configurações
          li.breadcrumb-item Devices
          li.breadcrumb-item.active Setup
        .container-fluid
          .animated.fadeIn
            .row
              .col-md-12
                  .card
                    .card-header
                      i.fa.fa-align-justify
                      |  Setup de Devices
                    .card-body   
                      != messages()  
                      table.table.table-striped
                        thead
                          tr
                            th Device
                            th Descrição
                            th Criado em 
                            th Criado por
                            th Ações
                        tbody                                                  
                             each device in list
                              tr
                                td #{device.device}
                                td #{device.description}                               
                                td #{formatDate(device.createdAt)} 
                                td #{(device.modifiedBy)}
                                td 
                                  .form-group
                                    form.form-horizontal(action='/devices/reset/#{device.id}', method='post')                                      
                                      a(href='/devices/setup/#{device.id}')
                                        button(type='button', style='background-color:transparent; border-color:transparent;')
                                          i.fa.fa-edit
                                            | Enviar                                                                                                              
                                      span                                      
                                      button(type='submit', style='background-color:transparent; border-color:transparent;')
                                        i.fa.fa-remove  
                                          | Resetar                                                            
                       if (pages > 1)
                        ul.pagination
                          != createPagination(pages, page)  
                      //- a(href='/devices/new', target='_top')    
                      //-  button.btn.btn-primary.btn-sm(type='button') Novo