extends layout/default

block content
 
 main.main
        // Breadcrumb
        ol.breadcrumb
          li.breadcrumb-item Clientes
          li.breadcrumb-item Analytics 
        .container-fluid
          .animated.fadeIn 
                          
                        .form-group
                            label.form-control-label(for='devicelbl') Veiculo
                            .controls
                              .input-group
                                span.input-group-btn
                                  button#btnrefresh.btn.btn-primary(type='submit')
                                    i.fa.fa-search
                                    |  Search
                                if list
                                select#vehicle.form-control(name='vehicle')
                                    each car in list
                                      option(value='#{car.device}') #{car.plate}                                       
              .card-columns.cols-2
                .card
                  .card-header
                    | Condições da Bateria (Volts)                   
                  .card-body
                    .chart-wrapper
                      canvas#canvas-1
                  .card-footer
                    | Conforme relatado no gráfico acima, o recomendável é ter
                    | um nivel entre 11V a 13V. Qualquer valor abaixo indica desgaste da bateria
                    | e acima representa sobre tensão. Sendo ambos os casos desvios e redução de vida útil da bateria ou falha do alternador.
                   // Bootstrap and necessary plugins
                  script(src='#{baseuri}bower_components/jquery/dist/jquery.min.js').
                  // Plugins and scripts required by all views
                  script(src='#{baseuri}bower_components/chart.js/dist/Chart.min.js').
                  script(type='text/javascript').                    
                      $(document).ready(function(){
                          $('#btnrefresh').click(function(){                                
                                var dongle = $('#vehicle').val();                               
                                 $.ajax
                                ({
                                  type: "post",
                                  url: "/getvoltage/"+dongle,
                                  dataType: "json",
                                  crossDomain: "false",
                                  contentType: "application/json; charset=UTF-8"                                                             
                                }).done(function ( data ) {                                           
                                      console.log(JSON.stringify( data ))
                                                                                  
                                      var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
                                      var lineChartData = {
                                          labels : dongle,
                                          datasets : [
                                            {
                                              label: dongle,
                                              backgroundColor : 'rgba(220,220,220,0.2)',
                                              borderColor : 'rgba(220,220,220,1)',
                                              pointBackgroundColor : 'rgba(220,220,220,1)',
                                              pointBorderColor : '#fff',
                                              data : data.voltage
                                            }
                                          ]
                                        }

                                      var ctx = document.getElementById('canvas-1');
                                      var chart = new Chart(ctx, {
                                        type: 'line',
                                        data: lineChartData,
                                        options: {
                                          responsive: true
                                        }
                                      });

                                });

                          });
                      });
                .card
                  .card-header
                    | Temperatura do Bloco                    
                  .card-body
                    .chart-wrapper
                      canvas#canvas-2
                  .card-footer
                    | Conforme relatado no gráfico acima, o recomendável é ter
                    | uma temperatura entre -40 a 215 graus. Qualquer valor acima indica imediata intervênção mecanica.
                    | Favor realizar revisão do motor o mais breve possível.
                .card
                  .card-header
                    | Desgaste de Pneus
                  .card-body
                    .chart-wrapper
                      canvas#canvas-3
                  .card-footer    
                .card                
                  .card-header
                    | Pastilha de Freios                    
                  .card-body
                    .chart-wrapper
                      canvas#canvas-4
                .card
                  .card-header
                    | Consumo Médio (Litros)
                  .card-body
                    .chart-wrapper
                      canvas#canvas-5
                .card
                  .card-header
                    | DTCs
                  .card-body
                    .chart-wrapper
                      canvas#canvas-6                     