extends layout
block content
  main.main
        // Breadcrumb
        ol.breadcrumb
          li.breadcrumb-item Administração
          li.breadcrumb-item Configurações
          li.breadcrumb-item Devices
          li.breadcrumb-item.active Dongles
        .container-fluid
          .animated.fadeIn
            .row
              .col-md-12
                  .card
                    .card-header
                      i.fa.fa-align-justify
                      |  Dongles
                    .card-body                    
                      table.table.table-striped
                        thead
                          tr
                            th Id    
                            th HW Hex   
                            th H/W Id.        
                            th Ativo     
                            th Firmware    
                            th Versão     
                            th Provedor SMS
                            th Chave Prov. SMS 
                            th SMS APN     
                            th SMS Usuario    
                            th SMS Senha
                            th SMS IP  
                            th SMS Porta
                            th Criado em   
                            th Criado por    
                        tbody                                                  
                             each device in devices
                              tr
                                td #{device.name}        
                                td #{device.actived}
                                td #{device.firmware}
                                td #{device.version}
                                td #{device.sms_srv_addr}
                                td #{device.sms_srv_key}
                                td #{device.sms_apn}
                                td #{device.sms_user}
                                td #{device.sms_password}
                                td #{device.sms_set_ip}
                                td #{device.sms_set_port}
                                td #{formatDate(device.createdAt)}
                                td #{device.createdBy}                              
                                td                                
                                  a(href='/device/edit/#{device.id}') Editar 
                                  span
                                  a(href='/device/delete/#{device.id}') Deletar                            
                       if (pages > 1)
                        ul.pagination
                          != createPagination(pages, page)                                                                        