extends layout/default

block content
  
  main.main         
        ol.breadcrumb
          li.breadcrumb-item Home
          li.breadcrumb-item
            a(href='#') Admin
          li.breadcrumb-item.active Dashboard                    
        .container-fluid
          .animated.fadeIn
            .row               
              .col-sm-6.col-lg-3
                .card.text-white.bg-primary
                  .card-body.pb-0                  
                    h4.mb-0 
                      #SumCurMileage                             
                    p Distância Percorrida
                  .chart-wrapper.px-3(style='height:70px;')
                    canvas#card-chart1.chart(height='70')  
                  script(src='#{baseuri}bower_components/jquery/dist/jquery.min.js').
                  script(src='#{baseuri}bower_components/chart.js/dist/Chart.min.js').                  
                  script(type='text/javascript'). 
                    $(document).ready(function(){ 
                       $.ajax
                          ({
                            type: "post",
                            url: "/cntMileageMonth",
                            dataType: "json",
                            crossDomain: "false",
                            contentType: "application/json; charset=UTF-8"                                                             
                          }).done(function ( data ) {  
                            retrnCnt = data.sumcurrentTripMileage + ' Km';
                            $('#SumCurMileage').html(retrnCnt);    
                          });

                       $.ajax
                          ({
                            type: "post",
                            url: "/chartMileageMonth",
                            dataType: "json",
                            crossDomain: "false",
                            contentType: "application/json; charset=UTF-8"                                                             
                          }).done(function ( data ) {            
                              var lbl = []      
                              var dts = []
                              $.each(data.message, function(index, value) {      //Cards with Charts
                                  var rawDrecv = value.dreceived
                                  var cumTot   = value.TotDeslocamento

                                  //- rawDrecv =  rawDrecv.toString().substr(6,2) + '/' + rawDrecv.toString().substr(4,2)  
                                  
                                  lbl.push(rawDrecv);
                                  dts.push(cumTot);
                              });
                                                             
                              var data = {
                                labels: lbl,
                                datasets: [
                                  {
                                    label: 'Distância Percorrida',
                                    backgroundColor: $.brandPrimary,
                                    borderColor: 'rgba(255,255,255,.55)',
                                    data: dts
                                  },
                                 ]
                               };
                              var options = {
                                  maintainAspectRatio: false,
                                  legend: {
                                    display: false
                                  },
                                  scales: {
                                    xAxes: [{
                                      gridLines: {
                                        color: 'transparent',
                                        zeroLineColor: 'transparent'
                                      },
                                      ticks: {
                                        fontSize: 2,
                                        fontColor: 'transparent',
                                      }
                                    }],
                                    yAxes: [{
                                      display: false,
                                      ticks: {
                                        display: false,
                                        min: Math.min.apply(Math, data.datasets[0].data) - 5,
                                        max: Math.max.apply(Math, data.datasets[0].data) + 5,
                                      }
                                    }],
                                  },
                                  elements: {
                                    line: {
                                      borderWidth: 1
                                    },
                                    point: {
                                      radius: 4,
                                      hitRadius: 10,
                                      hoverRadius: 4,
                                    },
                                  }
                                };
                                //- var ctx = $('#card-chart1');
                                var ctx = document.getElementById('card-chart1');                                     
                                var cardChart1 = new Chart(ctx, {
                                  type: 'line',
                                  data: data,
                                  options: options
                                });  
                          });  


                          //- Motor Ocioso
                          $.ajax
                            ({
                              type: "post",
                              url: "/cntIdleTime",
                              dataType: "json",
                              crossDomain: "false",
                              contentType: "application/json; charset=UTF-8"                                                             
                            }).done(function ( data ) {                               
                              if ( data ) {
                                    retrnCnt = data.sumIdleTime + ' Minutos';
                              } else {
                                    retrnCnt ='0 Minutos'; 
                              }  
                              $('#SumIdleEngine').html(retrnCnt);    
                            });
                             $.ajax
                                ({
                                  type: "post",
                                  url: "/chartIdleTime",
                                  dataType: "json",
                                  crossDomain: "false",
                                  contentType: "application/json; charset=UTF-8"                                                             
                                }).done(function ( data ) {       
                                  var lbl = []      
                                  var dts = []
                                  console.log ( data.sumIdleTime )
                                  $.each(data.sumIdleTime, function(index, value) {      //Cards with Charts
                                    var rawDrecv = value.dreceived
                                    var cumTot   = value.Min
                                    lbl.push(rawDrecv);
                                    dts.push(cumTot);                                  
                                  });

                                  var data = {
                                    labels: lbl,
                                    datasets: [
                                      {
                                        label: 'Motor Ocioso',
                                        backgroundColor: $.brandInfo,
                                        borderColor: 'rgba(255,255,255,.55)',
                                        data: dts
                                      },
                                    ]
                                  };
                                  var options = {
                                    maintainAspectRatio: false,
                                    legend: {
                                      display: false
                                    },
                                    scales: {
                                      xAxes: [{
                                        gridLines: {
                                          color: 'transparent',
                                          zeroLineColor: 'transparent'
                                        },
                                        ticks: {
                                          fontSize: 2,
                                          fontColor: 'transparent',
                                        }

                                      }],
                                      yAxes: [{
                                        display: false,
                                        ticks: {
                                          display: false,
                                          min: Math.min.apply(Math, data.datasets[0].data) - 5,
                                          max: Math.max.apply(Math, data.datasets[0].data) + 5,
                                        }
                                      }],
                                    },
                                    elements: {
                                      line: {
                                        tension: 0.00001,
                                        borderWidth: 1
                                      },
                                      point: {
                                        radius: 4,
                                        hitRadius: 10,
                                        hoverRadius: 4,
                                      },
                                    }
                                  };
                                  var ctx = $('#card-chart2');
                                  var cardChart2 = new Chart(ctx, {
                                    type: 'line',
                                    data: data,
                                    options: options
                                  });
                                });  

                      })              
              .col-sm-6.col-lg-3
                .card.text-white.bg-info
                  .card-body.pb-0                   
                    h4.mb-0
                      #SumIdleEngine 
                    p Motor Ocioso
                  .chart-wrapper.px-3(style='height:70px;')
                    canvas#card-chart2.chart(height='70')                                  
              .col-sm-6.col-lg-3
                .card.text-white.bg-warning
                  .card-body.pb-0                  
                    h4.mb-0 
                      #SumHACCOccur
                    p Altas Acelerações
                  .chart-wrapper(style='height:70px;')
                    canvas#card-chart3.chart(height='70')               
              .col-sm-6.col-lg-3
                .card.text-white.bg-danger
                  .card-body.pb-0                  
                    h4.mb-0
                      #SumHBRAKEOccur
                    p Freadas bruscas
                  .chart-wrapper.px-3(style='height:70px;')
                    canvas#card-chart4.chart(height='70')
            .row
              .col-md-12
                .card
                  .card-header
                    | Veiculos - Mensal
                  .card-body
                    .row
                      .col-sm-12.col-lg-4
                        .row
                          .col-sm-6
                            .callout.callout-info
                              small.text-muted Conectados
                              br
                              //- EndPoint - Provide Total Connected (login recente or alarm conected)
                              strong.h4 
                               #VehicleON
                              .chart-wrapper
                                canvas#sparkline-chart-1(width='100', height='30')
                          // /.col
                          .col-sm-6
                            .callout.callout-danger
                              small.text-muted Desconectados
                              br
                              //- EndPoint - Provide Total Disconnected (login recente or alarm disconected)
                              strong.h4 
                               #VehicleOFF
                              .chart-wrapper
                                canvas#sparkline-chart-2(width='100', height='30')
                      .col-sm-6.col-lg-4
                        .row
                          .col-sm-6
                            .callout.callout-warning
                              small.text-muted SOS
                              br
                              //- EndPoint - Provide Total SOS Alarms
                              strong.h4 
                               #SOScnt
                              .chart-wrapper
                                canvas#sparkline-chart-3(width='100', height='30')
                          // /.col
                          .col-sm-6
                            .callout.callout-success
                              small.text-muted Rebocados
                              br
                              //- EndPoint - Provide Total Towing alarms
                              strong.h4 
                               #Rebcnt
                              .chart-wrapper
                                canvas#sparkline-chart-4(width='100', height='30')
                          // /.col                        
                      .col-sm-6.col-lg-4
                        .row
                          .col-sm-6
                            .callout
                              small.text-muted Combustível
                              br
                              //- EndPoint - Provide Total Speeding alarms
                              strong.h4 
                                #SumFuel
                              .chart-wrapper
                                canvas#sparkline-chart-5(width='100', height='30')
                          // /.col
                          .col-sm-6
                            .callout.callout-primary
                              small.text-muted MIL*
                              br
                              //- EndPoint - Provide Total MIL alarms
                              strong.h4 
                                #MILcnt
                              .chart-wrapper
                                canvas#sparkline-chart-6(width='100', height='30')
                          // /.col                        
                    br
                  if (carros) 
                    table.table.table-responsive.table-hover.table-outline.mb-0
                      thead.thead-default
                        tr
                          th.text-center
                            i.icon-people
                          th Veículos
                          th.text-center Cliente
                          th.text-center Uso
                          th.text-center Perfil
                      tbody                      
                        each carro in carros
                          tr
                            td.text-center
                              .avatar
                                img.img-avatar(src='img/avatars/3.jpg', alt='admin@driveonauto.com')
                                span.avatar-status.badge-success
                            td
                              div 
                                a(href='/analytics') #{carro.plate}
                              .small.text-muted
                                span Novo
                                | | Registrado: #{carro.createdAt}
                            td.text-center
                              span Cliente
                            td
                              .clearfix
                                .float-left
                                  strong 1%
                                .float-right                                
                                  small.text-muted #{params.CurWStart} ~ #{params.CurWEnd}                                                                  
                              .progress.progress-xs
                                .progress-bar.bg-success(role='progressbar', style='width: 5%', aria-valuenow='5', aria-valuemin='0', aria-valuemax='100')
                            td.text-center
                              if carro.points == 1                            
                                i.fa.fa-star(style='font-size:24px')
                              else if carro.points == 2  
                                  i.fa.fa-star(style='font-size:24px')
                                  i.fa.fa-star(style='font-size:24px')
                              else if carro.points == 3  
                                    i.fa.fa-star(style='font-size:24px')
                                    i.fa.fa-star(style='font-size:24px')
                                    i.fa.fa-star(style='font-size:24px')
                              else if carro.points == 4  
                                      i.fa.fa-star(style='font-size:24px')
                                      i.fa.fa-star(style='font-size:24px')
                                      i.fa.fa-star(style='font-size:24px')
                                      i.fa.fa-star(style='font-size:24px')
                              else  
                                      i.fa.fa-star(style='font-size:24px')
                                      i.fa.fa-star(style='font-size:24px')
                                      i.fa.fa-star(style='font-size:24px')
                                      i.fa.fa-star(style='font-size:24px')
                                      i.fa.fa-star(style='font-size:24px')                            
                    if (pages > 1)
                      ul.pagination
                        != createPagination(pages, page)  
                                