extends layout
block content
  main.main
        // Breadcrumb
        ol.breadcrumb
          li.breadcrumb-item Configurações
          li.breadcrumb-item.active Usuários
        .container-fluid
          .animated.fadeIn
            .row
              .col-md-12
                  .card
                    .card-header
                      i.fa.fa-align-justify
                      |  Usuários
                    .card-body                    
                      table.table.table-striped
                        thead
                          tr
                            th Nome
                            th Email
                            th Administrador
                            //- th Criado em
                            th Ações
                        tbody                                                  
                             each usuario in usuarios
                              tr
                                td #{usuario.fullname}
                                td #{usuario.email} 
                                td #{adm = usuario.admin?"Sim":"Não" }
                                //- td #{formatDate(usuario.created)}
                                //- td #{(usuario.created)}
                                td 
                                  a(href='/user/edit/#{usuario.id}') Editar 
                                  span
                                  a(href='/user/delete/#{usuario.id}') Deletar                           
                       if (pages > 1)
                        ul.pagination
                          != createPagination(pages, page)  